= form_for(@quest) do |f|
  -if @quest.errors.any?
    = render 'errors'

  .field
    .form-group
    = f.label :name, :class => 'control-label'
    = f.text_field :name, :class => 'form-control', :required => 'true'
    = f.label :description, :class => 'control-label'
    = f.text_field :description, :class => 'control-label', :class => 'form-control'
    = f.label 'Parent Quest', :class => 'control-label'
    = f.collection_select :parent_id, Quest.where('(campaign_id = ? or id = ?) and id != ?',@quest.campaign_id, @quest.campaign_id, @quest.id).select { |q| !@quest.is_ancestor(q)}, :id, :name, {:include_blank => "Please select"}, :class => 'form-control'
    = f.label 'Owner', :class => 'control-label'
    = f.collection_select :user_id, User.all, :id, :username, {:include_blank => "Please select"}, :class => 'form-control'
    = f.label 'Status', :class => 'control-label'
    = f.select :status, options_for_select([['Open', 'Open'], ['In Progress', 'In Progress'], ['Closed', 'Closed']], @quest.status), {}, html_options = {:class => 'form-control'}
    = f.label 'Deadline', :class => 'control-label'
    = f.date_field :deadline, :class => 'form-control'
    = f.label 'Is Important?', :class => 'control-label'
    = f.check_box :importance
    = f.hidden_field :campaign_id

  .actions
    = f.submit :class => 'btn btn-primary pull-right'