= conversation.subject

%br
- conversation.participants.each do |participant|
  - if participant != @user
    - @userself = participant.message_user.to_s
  - else
    - @otherself = participant.message_user.to_s
%p
  A conversation with
  -if @userself.nil?
    = @user.message_user.to_s
  -else
    = @userself
  and
  = @otherself


= conversation.original_message.body




- conversation.receipts_for(@user) do |receipt|
  = receipt.message
  = message.sender.message_user
  - receipt.mark_as_read

%p
  Sent on
  = conversation.updated_at.strftime("%a, %m/%e/%Y %I:%M %p")
-#= render 'messages/form', conversation: conversation