%p#notice= notice
%h2 encounter
%p
  %strong Index:
  = @encounter.id
%p
  %strong Created At:
  = @encounter.created_at

%p
  %strong End Time:
  = @encounter.end_time

%p
  %strong Updated At:
  = @encounter.updated_at

= link_to 'Back', encounters_path
