%h2 Groups
%br
%br
.panel.panel-info
  .panel-heading Group Joined
  .panel-body.fill
    %table{:class => "table table-hover" }
      %thead
        %tr
          %th Name
          %th Role
      %tbody
        - @member_groups.each do |group|
          %tr
            %td
              =link_to group.name, group
            %td
              = render_role(group, current_user)
            %td
              = link_to 'Leave', {:action => :leave, :id => group.id}, :class => 'btn btn-danger', :'data-placement' => 'bottom', :title => 'Leave group'

.panel.panel-success
  .panel-heading Your Group
  .panel-body.fill
    %table{:class => "table table-hover" }
      %thead
        %tr
          %th Name
          %th Role
      %tbody
        - @admin_groups.each do |group|
          %tr
            %td
              =link_to group.name, group
            %td
              = render_role(group, current_user)
            %td
              = link_to 'Leave', {:action => :leave, :id => group.id}, :class => 'btn btn-danger', :'data-placement' => 'bottom', :title => 'Leave group'

%br
%br
= link_to 'New Group', new_group_path, :class=> 'btn btn-primary'
