= javascript_include_tag "group"
%h2.text-centered
  = @group.name
.container
  .row
    .panel.panel-info{:style => 'height:400'}
      .panel-heading Activity
      .panel-body{:style => 'overflow:auto; height:350px;'}
        #treeView{ :style => 'height: auto;', 'data-id' => @group.id}
  .row
    .col-md-6.left_quarter
      .panel.panel-info{:style => 'height:400px'}
        .panel-heading Members
        .panel-body.fill
          -if @group.admins.include? @user
            =link_to 'Add Member', '#add-member-modal', :class => 'btn btn-primary', :'data-placement' => 'bottom', :'data-toggle' => 'modal', :title => 'Add new members'
          %table{:class => "table table-hover" }
            %thead
              %tr
                %th Name
                %th Role
            %tbody
              - @group.users.paginate(page: params[:page], per_page: 4).each do |member|
                -@member=member
                %tr
                  %td= @member.username
                  %td
                    =role_for(@group,@member)
                  %td
                    -if @group.admins.include? @user
                      =render 'admin_buttons'
                    =link_to 'Leave', {:action => :leave, :id => @group.id}, :class => 'btn btn-danger', :'data-placement' => 'bottom', :title => 'Remove self from group'
          = will_paginate @group.users.paginate(page: params[:page], per_page: 4)
          %br
    .col-md-6.right_quarter
      .panel.panel-info{:style => 'height:400px'}
        .panel-heading Campaigns
        .panel-body
          %table{:class => "table table-hover"}
            %thead
              %tr
                %th Name
                %th Description
            %tbody
              - @group.campaigns.each do |campaign|
                %tr
                  %td
                    = link_to campaign.name, campaign_path(campaign)
                  %td
                    %a.btn.btn-primary
                      Open
                      = quest_count(campaign, 'Open')
                    %a.btn.btn-success
                      In Progress
                      = quest_count(campaign, 'In Progress')
                    %a.btn.btn-primary{:style => 'background-color: #999;border-color: #999'}
                      Closed
                      = quest_count(campaign, 'Closed')
          =link_to "New Campaign", controller: "campaigns", action: "new", group_id: @group.id

#add-member-modal.modal.fade
  .modal-dialog
    .modal-content{:style=> 'overflow: auto;padding-bottom: 15px;'}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Add New Member
      .modal-body
        = form_tag invite_user_path, :method => 'get' do |f|
          .form-group
            -#%input#quest_complete.form-control{ :value => :user_id}
            -#= button_tag 'Add', :type=> 'submit', :class => 'btn btn-default'
            %input#user_list.form-control
            %input#user_list_id{:type=>'hidden', :name => 'user_id', :required => true}
            -#= select_tag :user_id, options_from_collection_for_select(User.all, 'id', 'username'), prompt: "Select something", class: "form-control"
          = button_tag 'Add', :type=> 'submit', :class => 'btn btn-primary pull-right'
  %div#title-div{ :data => { :group => @group.name, :user => trunc(@user.username, 15)}}
:css
  ul.ui-autocomplete {
      z-index: 1100;
  }
