%h2.text-centered
  = @group.name

.col-md-6
  .panel.panel-info{:style => 'height:400px'}
    .panel-heading Members
    .panel-body.fill
      %table{:class => "table table-hover" }
        %thead
          %tr
            %th Name
            %th Role
        %tbody
          - @group.users.each do |user|
            %tr
              %td= user.username
              %td
                = render_role(user)
              %td
                = render_promote(user.id)
                = render_remove(user.id)
      = render_add_member

.col-md-6
  .panel.panel-info{:style => 'height:400px'}
    .panel-heading Campaigns
    .panel-body
      %table{:class => "table table-hover"}
        %thead
          %tr
            %th Name
            %th Description
        %tbody
          - @group.campaigns.each do |campaign|
            %tr
              %td
                = link_to campaign.name, campaign_path(campaign)
              %td
                %a.btn.btn-primary
                  Open
                  = render_quest_count(campaign, 'Open')
                %a.btn.btn-success
                  In Progress
                  = render_quest_count(campaign, 'In Progress')
                %a.btn.btn-primary{:style => 'background-color: #999;border-color: #999'}
                  Closed
                  = render_quest_count(campaign, 'Closed')
      =link_to "Add Campaign", controller: "campaigns", action: "new", group_id: @group.id

.col-md-6
  .panel.panel-info{:style => 'height:400px'}
    .panel-heading Activity
    .panel-body
.col-md-6
  .panel.panel-info{:style => 'height:400px'}
    .panel-heading Metrics
    .panel-body

#add-member-modal.modal.fade
  .modal-dialog
    .modal-content{:style=> 'overflow: auto;padding-bottom: 15px;'}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Add New Member
      .modal-body
        = form_tag invite_user_path, :method => 'get' do |f|
          .form-group
            = select_tag :user_id, options_from_collection_for_select(User.all, 'id', 'username'), prompt: "Select something", class: "form-control"
          = button_tag 'Add', :type=> 'submit', :class => 'btn btn-default'
