
.record-panel
.record-panel-left.pull-left
  %ul.record-type-list
    %li
      %a#note.record-type-item.record-type-selected{href: "javascript:void(0)"}
        %span.record-type-item-align
          %span Note
    %li
      %a#link.record-type-item{href: "javascript:void(0)"}
        %span.record-type-item-align
          %span Link
    %li
      %a#image.record-type-item{href: "javascript:void(0)"}
        %span.record-type-item-align
          %span Image
.record-panel-right.pull-right
  .record-panel-right-content
    = form_for @record, :html => {:id => 'note-form'} do |f|
      -if @record.errors.any?
        = render 'errors'

      .field
        .form-group
        = f.label :description, "Note", :class => 'control-label'
        %br
        = f.text_area :description, :cols => 55, :rows => 5, :required => 'true', :class => 'form-control'


        = f.hidden_field :quest_id
        = f.hidden_field :type, :value => 'Note'
        %br
        .actions
        = f.submit :class => "btn btn-primary pull-right"




    = form_for @record, :html => {:id => 'link-form', :class => 'new_record record-form-hidden'} do |f|
      -if @record.errors.any?
        = render 'errors'
      .field
        .form-group
        = f.label :description, "Url", :class => 'control-label'
        %br
        = f.url_field :url, :cols => 55, :rows => 5, :required => 'true', :class => 'form-control'
        %br
        = f.label :description, "Description", :class => 'control-label'
        %br
        = f.text_area :description, :cols => 55, :rows => 5, :required => 'true', :class => 'form-control'
        = f.hidden_field :type, :value => 'Link'
        = f.hidden_field :quest_id

        %br
        .actions
        = f.submit :class => "btn btn-primary pull-right"





    = form_for @record, :html => {:id => 'image-form', :class => 'new_record record-form-hidden'} do |f|
      -if @record.errors.any?
        = render 'errors'

      .field
        .form-group
        = f.label :description, "Description", :class => 'control-label'
        %br
        = f.text_area :description, :cols => 55, :rows => 5, :required => 'true', :class => 'form-control'
        %br
        = f.label :attachement, "Upload Image", :class => 'control-label'
        = f.file_field(:logo)
        = f.hidden_field :quest_id
        = f.hidden_field :type, :value => 'Image'

        %br
        .actions
        = f.submit :class => "btn btn-primary pull-right"



:javascript
  $('#note').click(function(e){
    e.preventDefault();
    $('.new_record').addClass('record-form-hidden');
    $('.record-type-item').removeClass('record-type-selected');
    $('#note-form').removeClass('record-form-hidden');

    $('#note').addClass('record-type-selected')
  });
  $('#link').click(function(e){
    e.preventDefault();
    $('.new_record').addClass('record-form-hidden');
    $('.record-type-item').removeClass('record-type-selected');
    $('#link-form').removeClass('record-form-hidden');
    $('#link').addClass('record-type-selected')
  });
  $('#image').click(function(e){
    e.preventDefault();
    $('.new_record').addClass('record-form-hidden');
    $('.record-type-item').removeClass('record-type-selected');
    $('#image-form').removeClass('record-form-hidden');
    $('#image').addClass('record-type-selected')
  });

