= form_for(@record) do |f|
  -if @record.errors.any?
    = render 'errors'

  .field
    .form-group
    = f.label :description, "Your Note Here", :class => 'control-label'
    %br
    = f.text_area :description, :cols => 55, :rows => 5, :required => 'true', :class => 'form-control'
    %br
    = f.label :"Select type for Record", :class => 'control-label'
    %br
    = f.select :type ,options_for_select([["Note", "Note"], ["Link", "Link"], ["Image", "Image"]]), { }, :class => 'form-control'
    %br
    %br
    = f.label :attachement, "Upload Image", :class => 'control-label'
    = f.file_field(:logo)
    = f.hidden_field :quest_id

    %br


  .actions
    = f.submit :class => "btn btn-primary pull-right"
