%p#notice= notice
%p
  %strong Name:
  = auto_link(@record.description)
%p
  %strong Encounter ID:
  = @record.encounter_id
%p
  %strong Type:
  = @record.type

%p
  %strong Link:
  = auto_link(@record.url)


= link_to 'Edit', edit_record_path(@record)

= link_to 'Back', record_path
