%p#notice= notice
%p
  %strong Name:
  = @record.description
%p
  %strong Encounter ID:
  = @record.encounter_id
%p
  %strong Type:
  = @record.record_type

%p
  %strong Link:
  = @record.url


= link_to 'Edit', edit_record_path(@record)

= link_to 'Back', record_path
