= javascript_include_tag "priorities"
:css
  .container {
    width: 95%;
  }

.priority-container{}
  .priority-content.priority-navmenu-offcanvas-content
    #myNavmenuCanvas.canvas-slid
      %nav#myNavmenu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas{role: "navigation", style: ""}
        %a.navmenu-brand{href: "#"} Campaign
        %ul.nav.navmenu-nav
          %li
            = link_to content_tag(:span, nil, class: 'glyphicon glyphicon-eye-open'), campaigns_path, :class => 'btn btn-primary col-md-2'
            %a{href: 'javascript:void(0)', class: 'all_link col-md-10'}= 'All'
          - @campaigns.each do |campaign|
            %li
              = link_to content_tag(:span, nil, class: 'glyphicon glyphicon-eye-open'), campaign_path(campaign.id), :class => 'btn btn-primary col-md-2'
              %a.col-md-10{id: campaign.id, href: 'javascript:void(0)', class: 'campaign_link'}= campaign.name
      .navbar.navbar-default.navbar-fixed-top
        %button.navbar-toggle{"data-canvas" => "#myNavmenuCanvas", "data-placement" => "left", "data-target" => "#myNavmenu", "data-toggle" => "offcanvas", type: "button"}
          %span.glyphicon.glyphicon-transfer
      #priority-message
        Select a campaign to view
      #loading-image
        #fadingBarsG
          #fadingBarsG_1.fadingBarsG
          #fadingBarsG_2.fadingBarsG
          #fadingBarsG_3.fadingBarsG
          #fadingBarsG_4.fadingBarsG
          #fadingBarsG_5.fadingBarsG
          #fadingBarsG_6.fadingBarsG
          #fadingBarsG_7.fadingBarsG
          #fadingBarsG_8.fadingBarsG
      #priority-body.row
        .col-md-10
          %ul#actionables
