= form_for(@campaign, :as => :campaign, :url => campaign_path(@campaign)) do |f|
  -if @campaign.errors.any?
    = render 'errors'

  .field
    .form-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'form-control', :required => 'true'
    .form-group
      = f.label :description, :class => 'control-label'
      .controls
        = f.text_field :description, :class => 'form-control'
      = f.hidden_field :group_id
  %br
  .actions
    = f.submit :class => 'btn btn-primary pull-right'
