=if current_power.campaign? @campaign
  %h2
    = @campaign.name

  %p
    %strong Description:
    = @campaign.description
  %p
    %strong Status:
    = @campaign.status

  %p
    %strong Progress:
  %p
    .progress.progress-mini{"data-placement" => "right", "data-toggle" => "tooltip", title: "Progress"}
      .progress-bar{role: "progressbar", style: "width: #{@campaign.progress}%;"}
  %p
  //= link_to new_quest_path(:id => @campaign.id), :class => 'btn btn-primary', :'data-placement' => 'bottom', :'data-toggle' => 'tooltip', :title => 'Add Quest' do
  //%span.glyphicon.glyphicon-plus
  = link_to new_quest_path(:id => @campaign.id), :remote => true, :class => 'btn btn-primary', :'data-placement' => 'bottom', :'data-toggle' => 'modal', :title => 'Add Quest', 'data-target' => '#new-quest-modal.modal' do
    %span.glyphicon.glyphicon-plus
  = link_to '#edit-campaign-modal', :class => 'btn btn-info', :'data-placement' => 'bottom', :'data-toggle' => 'modal', :title => 'Edit Campaign' do
    %span.glyphicon.glyphicon-pencil
  = link_to campaigns_path, :class => 'btn btn-default', :'data-placement' => 'bottom', :'data-toggle' => 'tooltip', :title => 'Back' do
    %span.glyphicon.glyphicon-share-alt
  = link_to campaign_timeline_path(@campaign), :remote => true, :class => 'btn btn-success pull-right', :'data-placement' => 'bottom', :'data-toggle' => 'modal', :title => 'View Timeline', 'data-target' => '#campaign-timeline-modal.modal' do
    %span.glyphicon.glyphicon-list-alt

  #help
    %h2 Tree View
    %span.glyphicon.glyphicon-question-sign.help-info
      Press the circle to expand/collapse nodes

  #tree-container{data: {campaign_id: @campaign.id}}
  #edit-campaign-modal.modal.fade
    .modal-dialog
      .modal-content{:style=> 'overflow: auto;padding-bottom: 15px;'}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Edit Campaign
        .modal-body
          = render 'form'
          = button_to "Delete!", {:action => 'destroy'}, :method => :delete, :class => "btn btn-warning", :confirm => "Are you sure?", "data-toggle" => "tooltip", title: "Delete this campaign"
  #new-quest-modal.modal.fade
    .modal-dialog
      .modal-content{:style=> 'overflow: auto;padding-bottom: 15px;'}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title New Quest
        .modal-body.a-unique-class
  #campaign-timeline-modal.modal.fade
    .modal-dialog
      .modal-content{:style=> 'overflow: auto;padding-bottom: 15px;'}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Timeline
        .modal-body.campaign-timeline-unique-class
:javascript
  $(document).ready(function () {
     var treeId =  { id: $('#tree-container').data('campaign-id')};
     $.ajax({
       type: "GET",
       url: "getTree",
       data: treeId,
       success: function(data) {
        var jsonData = JSON.parse(data);

        questTree(jsonData);
       }
     });
  });




