=if current_power.campaign? @campaign
  %div.name{ :style => "display: inline;min-height:35px"}
    %a{href: campaign_path(@campaign), alt: @campaign.name}
      %btn.btn.btn-circle{ :style => "background-color:#{@campaign.group.color}"}
        %div.inner-circle{ :style => "background-color:#{@campaign.color}"}
          =@campaign.name[0].upcase
    = @campaign.name

  %p
    %strong Description:
    = @campaign.description
  %p
    %strong Status:
    %span{ :class => "label label-#{@campaign.status_class}"}
      = @campaign.status

  %p
    %strong Progress:
  %p
    .progress.progress-mini{"data-placement" => "right", "data-toggle" => "tooltip", title: "Progress"}
      .progress-bar{role: "progressbar", style: "width: #{@campaign.progress}%;"}
  %p
  = link_to new_quest_path(:id => @campaign.id), :remote => true, :class => 'btn btn-primary', :'data-placement' => 'bottom', :'data-toggle' => 'modal', :title => 'Add Quest', 'data-target' => '#new-quest-modal.modal' do
    %span.glyphicon.glyphicon-plus
  = link_to content_tag(:span, nil, class: 'glyphicon glyphicon-plus-sign'), new_record_path(:quest_id => @campaign.id), :remote => true, :class => 'btn btn-success', :'data-placement' => 'bottom', :'data-toggle' => 'modal', :title => 'Add Record', 'data-target' => '#new-record-modal.modal'

  = link_to '#edit-campaign-modal', :class => 'btn btn-warning', :'data-placement' => 'bottom', :'data-toggle' => 'modal', :title => 'Edit Campaign' do
    %span.glyphicon.glyphicon-pencil

  - @campaign.group.user_id==nil ? owner='owner_group' : owner='owner_personal'
  =render owner, :campaign => @campaign

  = link_to campaigns_path, :class => 'btn btn-default', :'data-placement' => 'bottom', :'data-toggle' => 'tooltip', :title => 'Back' do
    %span.glyphicon.glyphicon-share-alt

  = link_to campaign_timeline_path(@campaign), :remote => true, :class => 'btn btn-success pull-right', :'data-placement' => 'bottom', :'data-toggle' => 'modal', :title => 'View Timeline', 'data-target' => '#campaign-timeline-modal.modal' do
    %span.glyphicon.glyphicon-list-alt

%ul.list-inline
  %li
    -params[:show_all]=='1' ? text='Hide' : text='Show'
    =link_to "#{text} Closed Quests", campaign_path(:id => params[:id],  :show_all =>  params[:show_all]=='1' ? 0 : 1), :class => 'btn btn-default'
  %li
    #tree-control
      .btn-group
        %btn#toggle-dialog.btn.btn-default
          Toggle Dialog
        
  #help
    %h2 Tree View
    %span.glyphicon.glyphicon-question-sign.help-info
      Press the circle to expand/collapse nodes
    %br
  %br

  #tree-container{data: {campaign_id: @campaign.id}}
  #edit-campaign-modal.modal.fade
    .modal-dialog
      .modal-content{:style=> 'overflow: auto;padding-bottom: 15px;'}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Edit Campaign
        .modal-body
          = render 'form'
          = button_to "Delete!", {:action => 'destroy'}, :method => :delete, :class => "btn btn-warning", :confirm => "Are you sure?", "data-toggle" => "tooltip", title: "Delete this campaign"
  #new-quest-modal.modal.fade
    .modal-dialog
      .modal-content{:style=> 'overflow: auto;padding-bottom: 15px;'}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title New Quest
        .modal-body.a-unique-class
  #campaign-timeline-modal.modal.fade
    .modal-dialog{:style => 'width: 800px;'}
      .modal-content{:style=> 'overflow: auto;padding-bottom: 15px;'}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Timeline
        .modal-body.campaign-timeline-unique-class
          #show_all.fade{data: { show_all: params[:show_all]||0}  }
:javascript
  $(document).ready(function () {
     var treeId = $('#tree-container').data('campaign-id');
     var showClosed = $('#show_all').data('show-all');
     var url = "getTree?id=" + treeId+"&show_all="+showClosed;
     console.log(url);
     questTree(url);
  });
