-if @is_quest
  -@actionable.id==@active_quest.id ? active_class="disabled" : active_class=""
  %button#activeBtn.btn.btn-info{ :class => "#{active_class}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip', :title => 'Set as Active'}
    %span.glyphicon.glyphicon-eye-open
  = link_to toggle_state_quest_path(@actionable), :class => "btn #{@state_class}", :title =>"#{@effect} Quest" do
    %span{class: "glyphicon glyphicon-ok"}

= link_to new_quest_path(:id => @actionable.id), :remote => true, :class => 'btn btn-primary', :'data-placement' => 'bottom', :'data-toggle' => 'modal', :title => 'Add Quest', 'data-target' => '#new-quest-modal.modal' do
  %span.glyphicon.glyphicon-plus
= link_to content_tag(:span, nil, class: 'glyphicon glyphicon-plus-sign'), new_record_path(:quest_id => @actionable.id), :remote => true, :class => 'btn btn-success', :'data-placement' => 'bottom', :'data-toggle' => 'modal', :title => 'Add Record', 'data-target' => '#new-record-modal.modal'

= link_to '#edit-quest-modal', :class => 'btn btn-warning', :'data-placement' => 'bottom', :'data-toggle' => 'modal', :title => 'Edit Quest' do
  %span.glyphicon.glyphicon-pencil
= link_to campaign_path(@campaign_id), :class => 'btn btn-default', :'data-placement' => 'bottom', :'data-toggle' => 'tooltip', :title => 'Back' do
  %span.glyphicon.glyphicon-share-alt
-unless @is_quest
  = link_to '#', :remote => true, :class => 'btn btn-success pull-right', :id => 'timeline', :'data-placement' => 'bottom', :'data-toggle' => 'modal', :title => 'View Timeline', 'data-target' => '#campaign-timeline-modal.modal' do
    %span.glyphicon.glyphicon-list-alt
%ul.list-inline
  %li
    -params[:show_all]=='1' ? text='Hide' : text='Show'
    =link_to "#{text} Closed Quests", quest_path(:id => params[:id],  :show_all =>  params[:show_all]=='1' ? 0 : 1), :class => 'btn btn-default'
  %li
    #tree-control
      .btn-group
        %btn#toggle-dialog.btn.btn-default
          Toggle Dialog

#help
  %h2 Tree View
  %span.glyphicon.glyphicon-question-sign.help-info
    Press the circle to expand/collapse nodes

#tree-container{data: {actionable_id: @actionable.id} }

%br
%br

#accordion.panel-group
  .panel.panel-default.panel-primary
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseNote"}
          Records
    #collapseNote.panel-collapse
      %ul.list-group
      - @actionable.records.order('created_at').each do |rec|
        -href='#'
        -if(rec.type=='Image'||'Link') then href="#{rec.url}" end
        %a.list-group-item(href="#{href}" target='_blank')
          %table{:style=>"width:100%"}
            %tr
              %td
                .pull-left
                  -if(rec.type=='Image') then 
                    .pull-left{style:'margin-right:2px'}
                      %a(href="#{rec.code.url}")
                      =image_tag rec.code.url(rec.code.url), size:'50x50', class:"img-rounded"
                  .pull-right
                    %h4.list-group-item-heading
                      = rec.created_at.strftime("%m/%d/%Y %I:%M%p")
                    %p.list-group-item-text
                      = auto_link(rec.description)
                    -if(rec.type=='Link') then
                      %br
                        = auto_link(rec.url, html: {target: '_blank'})

                .pull-right
                  .pull-left{:style=>"margin-right:4px"}
                    = button_to "Delete", {:controller => :records, :action => 'destroy', :id => rec.id }, :class => "btn btn-danger", :method => :delete, data: {:confirm => "Are you sure?"}
                  .pull-right
                    =link_to "Modify", edit_record_path(rec.id), :class => "btn btn-primary"
%br
%br
-@actionable==@active_quest ? active="1" : active="0"
%div#title-div{ :data => { :campaign => @campaign.name[0,5], :quest => trunc(@actionable.name), :user => trunc(@user.username, 15), :act => active}}
-unless @is_quest
  #campaign-timeline-modal.modal.fade
    .modal-dialog{:style => 'width: 800px;'}
      .modal-content{:style=> 'overflow: auto;padding-bottom: 15px;'}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Timeline
          #treeView{ 'data-id' => @campaign.id}
        .modal-body.campaign-timeline-unique-class
          #show_all.fade{data: { show_all: params[:show_all]||0}  }

#new-quest-modal.modal.fade
  .modal-dialog
    .modal-content{:style=> 'overflow: auto;padding-bottom: 15px;'}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title New Quest
      .modal-body.a-unique-class
%br
