%html{lang: "en"}
  %head
    = stylesheet_link_tag 'devise', :media => 'all'
    = javascript_include_tag 'devise'
  %body
    .wrapper
      .devise-header-top.centered
        %img.centered.img-responsive{src: "/assets/Quest-Till-Done.png"}
      = devise_error_messages!
      - flash.each do |key, value|
        %div{class: "#{flash_class(key)} fade in"}
          %a.close{"data-dismiss" => "alert", href: "#"} ×
          = value
      .devise-content.centered
        = render 'user/user_widget'
        = yield